@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.max-width{
	max-width: 1300px;
	padding: 0 80px;
	margin: auto;
}

.pic {
	border-radius: 30px;
}

.text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.sub {
    vertical-align: sub;
    font-size: small;
}

/*navbar*/
.navbar {
	z-index: 2;
	position: fixed;
	width: 100%;
	padding: 15px 0;
	font-family: 'Ubuntu', 'sans-serif;';
	transition: all 0.3s ease;
	background: #00274c;
}

.navbar.sticky {
	padding: 15px 0;
	background: #00274c;
}

.navbar .max-width{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a{
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .menu li{
	list-style: none;
	display: inline-block;
}

.navbar .menu li a{
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
}

.top_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.pic1 {
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	font-size: 7px;
	width: 30%;
	text-align: center;
	position: relative;
	left: 2%;
}

.information {
	font-family: 'Poppins', sans-serif;
	position: relative;
	text-align: justify;
	color: #00274c;
	width: 65%;
	right: 2%;
}

.mid_info {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.v0_image {
	width: 40%;
	position: relative;
	right: 2%;
}

.v0s {
	background: #e3e3e3;
	width: 55%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	left: 2%;
	position: relative;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.linear_regression {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.desmos {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	left: 2%;
	width: 65%;
	padding: 2.5px;
	background: #00274c;
	border-radius: 20px;
	text-align: center;
}

.problem {
	position: relative;
	right: 2%;
	background: #e3e3e3;
	width: 30%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.algebraic_approach {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.algebra {
	position: relative;
	left: 2%;
	background: #e3e3e3;
	width: 65%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.alg_work {
	position: relative;
	right: 2%;
	width: 30%;
}

.calculus_approach {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.calculus {
	position: relative;
	left: 2%;
	background: #e3e3e3;
	width: 35%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.calc_work {
	position: relative;
	width: 30%;
}

.calc_work2 {
	position: relative;
	right: 2%;
	width: 30%;
}

.mix_n_match {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.mix {
	position: relative;
	left: 2%;
	background: #e3e3e3;
	width: 55%;
	font-family: 'Poppins', sans-serif;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.shift {
	margin-left: 15px;
}

.match {
	position: relative;
	right: 2%;
	width: 40%
}

.resultsA, .resultsB, .resultsC, .resultsD, .resultsE {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	top: 100px;
	position: relative;
}

.numericalA, .numericalB, .numericalC, .numericalD, .numericalE {
	position: relative;
	left: 2%;
	background: #e3e3e3;
	width: 25%;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	color: #00274c;
	border-radius: 15px;
	padding: 10px;
	text-align: justify;
}

.graphA, .graphB, .graphC, .graphD, .graphE {
	position: relative;
	width: 70%;
	right: 2%;
}


@media (max-width: 1200px){
	.graphA, .graphB, .graphC, .graphD, .graphE, .numericalA, .numericalB, .numericalC, .numericalD, .numericalE, .mix, .match, .calculus, .calc_work, .calc_work2, .algebra, .alg_work, .desmos, .problem, .pic1, .information, .v0_image, .v0s {
		margin-bottom: 15px;
	}
	.numericalA, .numericalB, .numericalC, .numericalD, .numericalE, .mix, .calculus, .algebra, .v0s, .problem, .information {
		padding: 15px;
	}
	.graphA, .graphB, .graphC, .graphD, .graphE, .numericalA, .numericalB, .numericalC, .numericalD, .numericalE,.mix, .match, .calculus, .calc_work, .calc_work2, .algebra, .alg_work, .desmos, .problem, .pic1, .information, .v0_image, .v0s {
		flex: 100%;
		left: 0%;
		right: 0%;
	}
	.top_info {
		top: 80px;
	}
	.navbar .logo a{
		color: #fff;
		font-size: 20px;
		font-weight: 600;
	}
	.navbar .menu li a{
		font-size: 12px;
	}
	.text {
		font-size: 18px;
	}
}